<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未完待續</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" ) />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg-black">
        <div class="row vh-100">
            <div class="col-12"></div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h3 class="h5 text-white display-1">未完待續</h3>
            </div>
            <div class="col-12 d-flex justify-content-center">
                @RenderBody()
            </div>
            <div class="col-12"></div>
        </div>
    </div>
</body>
</html>
