
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIEMenuMaker.cshtml";
}

<style>
    .btnSetting {
        font-weight: 600;
    }
</style>

<div class="container-fluid vh-100 bg-black text-white">
    <h2 class="d-flex justify-content-center align-items-center bg-dark">IEMenuMaker</h2>
    <div class="row h-75">
        <div class="col">
            <div class="row d-flex justify-content-center align-items-sm-center align-items-md-end pb-md-4 h-50">
                <div class="col-md-3 col-lg-2">
                    <div class=" ">
                        @Html.ActionLink("編輯", "IemuMainMenus", "IEMenuMaker", new { area = "" }, new { @class = "btn btn-black d-block py-4 border-danger btnSetting" })
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class=" ">
                        @Html.ActionLink("基本資料-主分類", "IemuMainMenus", "IEMenuMaker", new { area = "" }, new { @class = "btn btn-black d-block py-4 border-danger btnSetting" })
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-sm-center align-items-md-start pb-md-4 h-50">
                <div class="col-md-3 col-lg-2">
                    <div class=" ">
                        @Html.ActionLink("基本資料-中分類", "IemuDetailMenus", "IEMenuMaker", new { area = "" }, new { @class = "btn btn-black d-block py-4 border-danger btnSetting" })
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class=" ">
                        @Html.ActionLink("基本資料-細分類", "IemuDetailMenus", "IEMenuMaker", new { area = "" }, new { @class = "btn btn-black d-block py-4 border-danger btnSetting" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>