
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_LayoutIEMenuMaker2.cshtml";
}

<div class="row vh-100">
    <div class="col-12 h-50">
        <h3 class="h5 text-center text-white">未完待續.....</h3>
    </div>
    <div class="col-12 h-50">
        @Html.ActionLink("確定", "Index", "IemuMainMenu", new { area = "" }, new { @class = "btn btn-black d-block py-4 btn-outline-danger" })
    </div>
</div>
