@*
    @if (SecurityService.IsAdd)
    {@Html.ActionLink(ActionService.CreateName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = 0 }, new { @class = "btn btn-sm btn-primary" })}
*@

@* Jacky 1120719 設定新增按鈕 *@
@*@Html.ActionLink(ActionService.CreateName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = 0 }, new { @class = "btn btn-sm btn-primary border-warning" })*@

@* Jacky 1120720 改用 fontawesone 圖示顯示 *@
<a class="btn btn-sm btn-primary border-warning" href="@Url.Action(ActionService.CreateEdit , ActionService.Controller)" accesskey="I">
    <i class="fas fa-plus fa-lg"></i>
</a>
