@*
    @if (SecurityService.IsEdit)
    {@Html.ActionLink(ActionService.EditName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = ActionService.RowId }, new { @class = "btn btn-sm btn-success" })}
*@

@* Jacky 1120719 設定修改按鈕 *@
@*@Html.ActionLink(ActionService.EditName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = ActionService.RowId }, new { @class = "btn btn-sm btn-success border-info" })*@

@* Jacky 1120720 改用 fontawesone 圖示顯示 *@
<a class="btn btn-sm btn-success border-info" href="@Url.Action(ActionService.CreateEdit , ActionService.Controller)">
    <i class="far fa-edit"></i>
</a>
