@* Jacky 1120724 fontawesone 圖示 *@
<a href="@Url.Action(ViewBag.ThreeDotsTargetAction , ViewBag.ThreeDotsTargetController, new { area = "", id = ActionService.RowId })"
   class="btn btn-sm btn-secondary border-info"
   accesskey=";" alt="整頁 (Alt + ;)" title="整頁 (Alt + ;)">
    <i class="fas fa-ellipsis-h"></i>
</a>

