@*
    @if (SecurityService.IsAdd)
    {@Html.ActionLink(ActionService.CreateName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = 0 }, new { @class = "btn btn-sm btn-primary" })}
*@

@* Jacky 1120719 設定新增按鈕 *@
@*@Html.ActionLink(ActionService.CreateName, ActionService.CreateEdit, ActionService.Controller, new { area = ActionService.Area, id = 0 }, new { @class = "btn btn-sm btn-primary border-warning" })*@

@* Jacky 1120723 改用 fontawesone 圖示顯示 *@
@* 直接組裝 URL，記得要加 "/" + 該筆資料的 Id = 0 *@
<a href="@Url.Action(ActionService.CreateEdit, ActionService.Controller)/0"
       class="btn btn-sm btn-primary border-warning"
       alt="新增" title="新增">
    <i class="fas fa-plus fa-lg"></i>
</a>
