/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Jacky 1120719 mark，這段設定將導致 Card 的欄位永遠只能那麼寬，無法改變 */
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120703 */
/* navbar 背景滑鼠移入呈現效果 */
.navBg {
    background-color: rgba(0, 0, 0, 0.3);
}
.navBg:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120714 固定 table header 方式 */
.tableFixHead {
    overflow: auto;
    height: 86.5vh;         /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */
    border: 2px solid orange; 
}

.tableFixHead thead th {
    position: sticky;       /* 固定 header */
    top: 0;
    z-index: 1;
    color: blue;            /* 標題藍色字 */
}

.tableFixHead tbody th {
    position: sticky;
    left: 0;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120714 修正 border shadow 問題 */
.tableFixHeadBorderShadow {
    overflow: auto;
    height: 86.5vh;         /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */
    border: 2px solid orange;
}

.tableFixHeadBorderShadow thead th {
    position: sticky;       /* 固定 header */
    top: 0;
    z-index: 1;
    color: blue;            /* 標題藍色字 */
}

.tableFixHeadBorderShadow tbody th {
    position: sticky;
    left: 0;
}

.tableFixHeadBorderShadow, .tableFixHeadBorderShadow td {
    box-shadow: inset 1px -1px #000;
}

.tableFixHeadBorderShadow th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}

.tableFixHeadBorderShadow tbody th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120715 標題:hover */
.tableTitle:hover {
    cursor: pointer;
    color: red;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120716 限制整個表身最大高度(包含編輯資訊欄)，右側才不會出現捲軸捲動 */
.contentArea {
    height: 88vh;
    overflow: hidden;
    border: 2px solid red;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

