/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Jacky 1120719 mark，這段設定將導致 Card 的欄位永遠只能那麼寬，無法改變 */
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120703 */
/* navbar 背景滑鼠移入呈現效果 */
.navBg {
    background-color: rgba(0, 0, 0, 0.3);
}

    .navBg:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120714 固定 table header 方式 */
.tableFixedHeadHover {
    overflow: auto;
    /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */
    height: 85.5vh;
    border: 2px solid orange;
}

.tableFixedHeadHover thead th {
    /* 固定 header */
    position: sticky;
    top: 0;
    z-index: 1;
    /* 標題藍色字 */
    color: blue;
}

.tableFixedHeadHover tbody th {
    position: sticky;
    left: 0;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120714 修正 border shadow 問題 */
.tableFixedHeadBorderShadow {
    overflow: auto;
    /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */
    height: 85.5vh;
    border: 2px solid orange;
}

.tableFixedHeadBorderShadow thead th {
    /* 固定 header */
    position: sticky;
    top: 0;
    z-index: 1;
    color: blue;
}

.tableFixedHeadBorderShadow tbody th {
    position: sticky;
    left: 0;
}

.tableFixedHeadBorderShadow, .tableFixedHeadBorderShadow td {
    box-shadow: inset 1px -1px #000;
}

.tableFixedHeadBorderShadow th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}

.tableFixedHeadBorderShadow tbody th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120715 標題:hover */
.tableTitle:hover {
    cursor: pointer;
    color: red;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120716 限制整個表身最大高度(包含編輯資訊欄)，右側才不會出現捲軸捲動 */
.contentArea1 {
    height: 87vh;
    overflow: hidden;
    border: 2px solid red;
}
/* Jacky 1120716 限制整個表身最大高度(包含編輯資訊欄)，右側才不會出現捲軸捲動 */
.contentArea2 {
    height: 94vh;
    overflow: hidden;
    border: 2px solid red;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Jacky 1120723 設定為 readonly 欄位的背景顏色 */
.readonly_bgc {
    background-color: #eee;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ======================================================================================================= */
/* Jacky 1120725 多表格設定 for 正常未特別固定表頭位置的 table */
.tableMultipleNormalHead {
    height: 83px;
    border: 2px solid orange;
}

    /*
    Jacky 1120725
    關閉 BS5 產生的 margin-bottom: 1rem;
    這造成 multiple table 的表頭 table 底部多出不必要的空白
*/
    .tableMultipleNormalHead.table {
        margin-bottom: 0;
    }
/* ======================================================================================================= */

/* ======================================================================================================= */
/* Jacky 1120725 多表格設定 for 特別固定表頭位置的 table */
.tableMultipleFixedHead {
    overflow: auto;
    /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */

    /* Jacky 1120807 */
    height: calc(80.5vh + 1px);

    border: 2px solid orange;
}

.tableMultipleFixedHead thead th {
    /* 固定 header */
    position: sticky;
    top: 0;
    z-index: 1;
    color: blue;
}

.tableMultipleFixedHead tbody th {
    position: sticky;
    left: 0;
}
/* ======================================================================================================= */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ======================================================================================================= */
/* Jacky 1120725 多表格設定 for 正常未特別固定表頭位置的 table */
/* 有陰影效果 */
.tableMultipleNormalHeadBorderShadow {
    height: 83px;
    border: 2px solid orange;
}

.tableMultipleNormalHeadBorderShadow, .tableMultipleNormalHeadBorderShadow td {
    box-shadow: inset 1px -1px #000;
}

.tableMultipleNormalHeadBorderShadow th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}

.tableMultipleNormalHeadBorderShadow tbody th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}
/* ======================================================================================================= */

/* ======================================================================================================= */
/* Jacky 1120725 多表格設定 for 特別固定表頭位置的 table */
/* 有陰影效果 */
.tableMultipleFixedHeadBorderShadow {
    overflow: auto;
    /* 限制最大高度，Table 才不會出現超出上端的不預期捲動 */

    /* Jacky 1120807 */
    height: calc(80.5vh + 1px);

    border: 2px solid orange;
}

.tableMultipleFixedHeadBorderShadow thead th {
    /* 固定 header */
    position: sticky;
    top: 0;
    z-index: 1;
    color: blue;
}

.tableMultipleFixedHeadBorderShadow tbody th {
    position: sticky;
    left: 0;
}

.tableMultipleFixedHeadBorderShadow, .tableMultipleFixedHeadBorderShadow td {
    box-shadow: inset 1px -1px #000;
}

.tableMultipleFixedHeadBorderShadow th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}

.tableMultipleFixedHeadBorderShadow tbody th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}
/* ======================================================================================================= */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */